
* { 
    margin: 0;  /* *은 페이지 전체에 적용되는 방식 */
    padding: 0;   /* 이후 순차적으로 적용됨 */
    font-style: italic;
    color: rgb(20, 15, 8);
}



h1 {
    color: rgb(173, 84, 129);
    font-size: 50px;
}


h1.test { 
    color: aquamarine;
}


/* 우선순위가 적용되며, 계단식을 진행된다. */